<h1> Hi this is the start of a new tutorial </h1>
<div class="col-xs-10 col-xs-offset-1">
  <h1>Enter Tutorial Details</h1>
  <%= simple_form_for @tutorial do |f| %>
    <%= f.input :language %>
    <%= f.input :category %>
    <%= f.input :difficulty %>
    <%= f.input :link %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>
